<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="tp.target" sequenceNumber="23">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="bundle2-project" version="0.0.0"/>
<repository location="file:/@project.build.directory@/repository"/>
</location>
</locations>
</target>